<!-- 

1. Create a new file named .env in same working directory as the .env_example and copy these environment variables into .env file, replace your clarifai usename and pat in .env file.  
2. Delete the .env_example file 
   
-->

CLARIFAI_USERNAME= YOUR_CLARIFAI_USERNAME
CLARIFAI_PAT= "YOUR_CLARIFAI_PERSONAL_ACCESS_TOKEN"